.project-container
	background-color darker_red
	color font_red

.project-list
	margin 0
	padding 0
	display flex
	flex-direction column
	
.project-list-item.selected
	background-color brighter_red
	color white

.project-list-item
	padding 2rem 1rem