top_grey = #39383f
middle_grey = #33333a
bottom_grey = #252525
swamp_green = #8AAA80
team_text_grey = #5b5a6b

darker_red = #BC4F40
brighter_red = #EF6551
font_red = #FF9E94

task_white = #f0ebe6
task_offwhite = #e2dddb
task_letter_gray = #b5b1af

completed_task_green = #68c3a1