.team-list
	margin 0
	padding 0
	display flex
	flex-direction column

.team-list-item
	display flex
	align-items center
	background-color middle_grey
	color white
	padding 1rem	
	border-bottom 2px solid #3b3b45

.team-list-item.header
	background-color top_grey
	padding 2rem 1rem
	display flex
	justify-content space-between
	color #fff

.offline-online-container
	display flex
	.online
		margin-right 1rem
		display flex
		color swamp_green
		font-size .75rem	
	.offline
		color brighter_red
		display flex
		font-size .75rem

.team-img
	height 75px
	width 75px
	border-radius 50%
	border 3px solid swamp_green

.team-title
	color #5b5a6b

.teammate-container
	display flex
	flex-direction column